.button {
	background-color: #43a047;
	width: 10.6875rem;
	min-height: 3.125rem;
	border-radius: 0.5rem;
	color: #ffffffff;
	font-weight: 700;
	text-transform: capitalize;
	font-size: 1rem;
	cursor: pointer;
	display: inline-block;
	transition: all 0.4s;
}

@media (hover: hover) {
	.button:not(._disable-button-hover):hover {
		background-color: #48ab4c;
	}
}

.button--outlined {
	background-color: transparent;
	color: #43a047;
	border: 0.125rem solid #43a047;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

.main__section {
	scroll-margin-top: 8.125rem;
	padding: 2.8125rem 0 8.1875rem 0;
	position: relative;
}

.main__container > * {
	position: relative;
	z-index: 99;
}

.main__section-header {
	text-align: center;
	max-width: 50rem;
	margin: 0 auto 4.75rem auto;
	position: relative;
}

.main__section-title {
	color: #000;
	font-size: 3rem;
	line-height: 110%;
	font-weight: 600;
	text-transform: capitalize;
}

.main__section-header--underlined {
	position: relative;
}
.main__section-header--underlined::after {
	content: "";
	display: block;
	max-width: 4.8125rem;
	width: 100%;
	height: 0.25rem;
	background-color: #43a047;
	position: absolute;
	top: calc(100% + 1.875rem);
	left: 50%;
	transform: translate(-50%, 0);
}

.main__section-title--uppercase {
	text-transform: uppercase;
}

.main__section-text {
}

.main__section-paragraph {
	font-size: 1.5rem;
	color: #616161;
	font-weight: 500;
	line-height: 150%;
}

@media (max-width: 992px) {
	.main__section {
		padding: 1.5625rem 0 6.9375rem 0;
	}

	.main__section-header {
		margin: 0 auto 3.5rem auto;
	}

	.main__section-title {
		font-size: 2rem;
	}

	.main__section-paragraph {
		font-size: 1.125rem;
	}

	.button {
		width: 7.5rem;
	}
}

.image-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 35.6875rem;
	max-width: 51.25rem;
	width: 100%;
	z-index: 200;

	transition: all 0.3s ease 0;
}

.popup-image-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.popup-image-wrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2.1875rem;
}

.popup-quit {
	position: absolute;
	top: 3.125rem;
	right: 0.9375rem;
	width: 3.125rem;
	height: 3.125rem;
	cursor: pointer;
	background-color: transparent;
}

.popup-quit::before,
.popup-quit::after {
	content: "";
	display: block;
	width: 1.875rem;
	height: 0.125rem;
	background-color: #ffffffff;
}

.popup-quit::before {
	transform: rotate(45deg);
}

.popup-quit::after {
	transform: rotate(-45deg);
	margin-top: -0.125rem;
}

._animate-text {
	opacity: 0;
	transform: translate(0, 120%);
}

._animate-text.animate-active {
	opacity: 1;
	transform: translate(0);
}

._animate-icon {
	opacity: 0;
	transform: translate(-140%, 0);
}

._animate-icon.animate-active {
	opacity: 1;
	transform: translate(0);
}
