@import url("burger.css");

:root {
	--header-height: 8.125rem;
	--low-height: 5rem;
	--default-color: #f5f5f5;
}

.header {
	min-height: var(--header-height);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 0.0625rem solid var(--default-color);
	transition: background-color 0.3s;
	z-index: 101;
}

.header__big_container {
	min-height: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.625rem;
}

.header__left {
	flex: 0 auto;
}

.header__navigation {
	max-width: 60rem;
	width: 100%;
}

.header__list {
	display: flex;
	align-items: center;
	justify-content: right;
	flex-wrap: wrap;
	gap: 1.125rem;
	width: 100%;
}

.header__list-item--long {
	max-width: 11.25rem;
	width: 100%;
}

.header__list-item .choices {
	width: 100%;
}

.header__list-item .choices__inner {
	font-size: 1.125rem;
	background-color: transparent;
	color: #fff;
	border: 0.0938rem solid #f5f5f5;
}

.header__list-item .choices__list[aria-expanded] > *,
.header__list-item .choices__list[aria-expanded] > *:hover,
.header__list-item .choices__list[aria-expanded] .choices__item--selectable {
	font-family: "Glory", sans-serif;
}

.header__list-item .choices__list[aria-expanded] .choices__item--selectable::after {
	content: "";
	display: none;
}

.choices__list--single .choices__placeholder {
	color: #f5f5f5;
}

.header__link {
	color: var(--default-color);
	font-size: 1.25rem;
	text-transform: capitalize;
	font-weight: 300;
	position: relative;
}

.header__link-phone {
	font-weight: 600;
}

.header__list-item--flexed .header__link {
	text-transform: lowercase;
}

.header__list-item--flexed {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.3125rem;
}

@media (hover: hover) {
	.header__link:not(.link-disabled):before {
		content: "";
		width: 0;
		height: 0.125rem;
		background-color: var(--default-color);
		position: absolute;
		top: 100%;
		left: 0;
		transition: all 0.4s ease-in-out;
	}

	.header__link:hover::before {
		width: 100%;
	}
}

@media (max-width: 992px) {
	.header {
		min-height: var(--low-height);
	}

	.header__container {
		justify-content: space-between;
		min-height: 6.25rem;
	}

	.header__navigation {
		position: fixed;
		top: 0;
		right: -100%;
		max-width: 50%;
		width: 100%;
		min-height: 100%;
		background-color: #333333;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s ease;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.header__navigation.active {
		opacity: 1;
		visibility: visible;
		right: 0;
	}

	.header__list {
		max-width: calc(90% - 1.25rem);
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: nowrap;
		gap: 1.25rem;
		overflow-y: auto;
		margin: auto;
		height: 85vh;
	}

	.header__link {
		font-size: 1.5rem;
	}

	.header__list-item--flexed {
		align-items: flex-start;
	}
}

@media (max-width: 620px) {
	.header__navigation {
		max-width: 100%;
	}
}
