:root {
	--faq-min-height: 6.25rem;
}

/* Main Block */

.main__block {
	position: relative;
}
.main__block-container {
	padding: 18.75rem 0 18.75rem 0;
	position: relative;
	z-index: 2;
}

.main__block-cover {
	filter: blur(0.6) brightness(0.6);
}

.main__block-body {
	max-width: 31.25rem;
	width: 100%;
	margin-left: 5%;
}

.main__block-body > *:not(:last-child) {
	margin-bottom: 1.875rem;
}
.main__block-title {
	color: #f5f5f5;
	font-size: 4rem;
	font-weight: 700;
	line-height: -2%;
}

.main__block-text {
}

.main__block-paragraph {
	font-size: 1.5rem;
	font-weight: 300;
	color: #f5f5f5;
	line-height: 150%;
}

.main__block-buttons {
	display: flex;
	gap: 0.4375rem;
}

.main__block-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}

.main__block-button--white {
	background-color: #f5f5f5;
	color: #43a047;
}

.main__block-discount-list {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	position: absolute;
	top: 100%;
	left: 0;
	transform: translateY(-100%);
	z-index: 10;

	min-height: 1.375rem;
	/* animation: scroll-left 20s linear infinite; */
}
.main__block-discount-item {
	flex: 0 0 auto;
	max-width: 37.625rem;
	width: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	gap: 0.3125rem;
	background-color: #333333;
	white-space: nowrap;
}
.main__block-discount-image {
}
.main__block-discount-text {
	color: #f5f5f5;
	font-size: 1.375rem;
	line-height: 150%;
}
.main__block-discount-paragraph {
}

@keyframes scroll-left {
	0% {
		transform: translateX(-100%);
		opacity: 0.5;
	}

	4% {
		opacity: 1;
	}

	100% {
		transform: translateX(100%);
	}
}

@media (max-width: 1479px) {
	.main__block-body {
		padding: 0 0.625rem;
	}
}

@media (max-width: 768px) {
	.main__block-container {
		padding: 12.5rem 0 12.5rem 0;
	}

	.main__block-body {
		margin-left: 0;
	}

	.main__block-body > *:not(:last-child) {
		margin-bottom: 1.25rem;
	}

	.main__block-title {
		font-size: 2.375rem;
	}

	.main__block-paragraph {
		font-size: 0.875rem;
	}
}

@media (max-width: 430px) {
	.main__block-body {
		text-align: center;
	}

	.main__block-paragraph {
		line-height: 120%;
	}

	.main__block-buttons {
		flex-direction: column;
	}

	.main__block-button {
		width: 100%;
	}
}

/* Main Services */
.main__services .main__section-header {
	max-width: 100%;
}

.main__services-selects {
	width: 100%;
	margin-top: 3.225rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.9375rem;
	border: 0.0625rem solid #43a047;
	border-radius: 0.5625rem;
	padding: 1.875rem 3.125rem;
	position: relative;
	z-index: 99;
}

.main__services-selects .choices__list--dropdown {
	border: 0.0625rem solid #43a047 !important;
}

.main__service-select-first-block,
.main__service-select-second-block {
	flex: 1 1 auto;
	display: flex;
	gap: 0.9375rem;
}

.main__services-selects .choices {
	width: 100%;
	margin-bottom: 0;
}

.main__services-selects .choices__inner {
	border: 0.0625rem solid #43a047;
}

.main__services-selects .button {
	min-height: 2.125rem;
	font-size: 0.875rem;
	padding: 0.4688rem;
	width: 100%;
}

@media (max-width: 1055px) {
	.main__services-selects {
		display: block;
		padding: 0.625rem;
	}

	.filter {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		min-height: max-content;
		width: 70%;
		z-index: 99;
		background-color: #181818;
		transform: translateX(-100%);
		border: none;

		transition: all 0.4s ease;
	}

	.main__services-selects.active {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
		transform: translateX(0);
	}

	.choices:not(:last-child) {
		margin-bottom: 1.25rem;
	}

	.main__services-selects .choices__inner {
		border: none;
	}

	.main__services-item {
		z-index: 0 !important;
	}

	.main__service-select-second-block {
		margin-top: 1.25rem;
	}

	.main__services-selects .button span {
		display: none;
	}
}

.main__services-list {
	max-width: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	justify-content: space-between;
	gap: 2rem;
}

.main__services-item {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	gap: 1.25rem;
	position: relative;
}

.main__services-img-wrapper {
	width: 100%;
	height: 14.4375rem;
	overflow: hidden;
	position: relative;
}

.main__services-img-wrapper img {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
	transition: all 0.5s;
}

@media (hover: hover) {
	.main__services-img-wrapper img:hover {
		scale: 1.05;
	}
}

.main__services-title {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 150%;
	color: #000000;
}

.main__service-text {
}

.main__service-paragraph {
	color: #6b6b6b;
	font-weight: 600;
	font-size: 1rem;
	line-height: 150%;
}

.main__service-price {
	color: #43a047;
	font-size: 1.25rem;
	line-height: 150%;
	font-weight: 500;
}

.main__service-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1rem;
}

@media (max-width: 992px) {
	.main__services-list {
		grid-template-columns: repeat(2, 1fr);
		gap: 0.75rem;
	}

	.main__services-img-wrapper {
		height: 10.1875rem;
	}

	.main__services-title {
		font-size: 1.125rem;
		line-height: 130%;
	}

	.main__service-button {
		width: 100%;
	}
}

@media (max-width: 450px) {
	.main__services-list {
		display: block;
	}

	.main__services-item:not(:last-child) {
		margin-bottom: 2rem;
	}

	.filter {
		width: 100%;
	}
}

/* Main Advantages */
.main__advantages {
	background: linear-gradient(0deg, rgba(63, 154, 67, 1) 0%, rgba(67, 160, 71, 1) 26%, rgba(27, 94, 32, 1) 99%);
}

.main__section-title--white {
	color: #f5f5f5;
}

.main__section-paragraph--white {
	color: #f5f5f5;
}

.main__advantages-list {
}

.main__advantages-item {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.main__advantages-wrapper {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main__advantages-title {
	font-size: 1.875rem;
	line-height: 108%;
	color: #f5f5f5;
	font-weight: 500;
}

.main__advantages-text {
}

.main__advantages-paragraph {
	color: #f5f5f5;
	font-size: 1.125rem;
	line-height: 150%;
}

/* Main Reviews */
.main__reviews {
}

.main__reviews-list {
}

.main__reviews-form {
	margin-top: 1.25rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.625rem;
}

.main__reviews-form-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.375rem;
	width: 100%;
}

.main__reviews-form-label {
	text-transform: capitalize;
	color: #d6d6d6;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 150%;
}

.main__reviews-form-box input,
.main__reviews-form-box textarea {
	width: 100%;
	min-height: 4.6875rem;
	border: 0.0625rem solid #43a047;
	border-radius: 1rem;
	padding: 0.9375rem;
	font-size: 1.125rem;
	color: #d6d6d6;
}

.main__reviews-form-box textarea {
	min-height: 7.5rem;
	resize: vertical;
}

.main__reviews-form-box textarea::-webkit-scrollbar {
}

.main__reviews-button {
	width: 100%;
}

.main__reviews-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 2rem;
	border: 0.125rem solid #43a047;
	padding: 2.625rem 0 1.5625rem 0;
	border-radius: 1rem;
}

.main__reviews-img {
	width: 4rem;
	height: 4rem;
	object-fit: cover;
	border-radius: 50%;
}

.main__reviews-text {
	max-width: 15.9375rem;
}

.main__reviews-paragraph {
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 150%;
	color: #484848;
}

.main__reviews-title {
	font-size: 1.375rem;
	color: #5a5a5a;
	font-weight: 500;
	text-transform: capitalize;
	line-height: 150%;
}

.main__reviews-kind {
	font-size: 0.8125rem;
	font-weight: 500;
	line-height: 150%;
	color: #9e9e9e;
}

@media (max-width: 425px) {
	.main__reviews {
		padding-bottom: 2.5rem;
	}
	.main__reviews-item {
		padding: 2rem 0 0.9375rem 0;
		gap: 1rem;
		text-align: center;
	}

	.main__reviews-item:not(:last-child) {
		margin-bottom: 1.25rem;
	}

	.main__reviews-form-box input {
		min-height: 2.5rem;
	}
}

/* Main Swiper */

.main__projects-swiper {
}

.swiper {
}

.main__swiper-wrapper {
	min-height: 25rem;
}

.swiper-wrapper {
}

.swiper-slide {
}

.main__swiper-item {
}

.main__swiper-item {
	width: 100%;
	min-height: 20.25rem;
	position: relative;
}

.main__swiper-image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 1rem;
	cursor: pointer;
}

.swiper-pagination {
	--swiper-pagination-color: #43a047;
	--swiper-pagination-left: auto;
	--swiper-pagination-right: 0.5rem;
	--swiper-pagination-bottom: 0.5rem;
	--swiper-pagination-top: auto;
	--swiper-pagination-bullet-height: 0.375rem;
	--swiper-pagination-bullet-width: 2rem;
	--swiper-pagination-bullet-inactive-color: #dadada;
	--swiper-pagination-bullet-inactive-opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet {
	border-radius: 0.25rem;
}

.swiper-button-prev,
.swiper-button-next {
	--swiper-navigation-size: 1.1875rem;
	--swiper-navigation-top-offset: 36%;
	/* --swiper-navigation-sides-offset: -1.875rem; */
	--swiper-navigation-color: #43a047;

	width: 3.4375rem !important;
	height: 3.4375rem !important;
	background-color: rgba(255, 255, 255, 0.75);

	border-radius: 50%;

	box-shadow: 0 0 0.5rem #333333;
}

/* Main Call */

.main__call-cover {
	filter: brightness(0.5);
}

.main__call-form {
	max-width: 63.3125rem;
	width: 100%;
	margin: 0 auto;
}
.main__call-form-top {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.9375rem;
	margin-bottom: 2.8125rem;
}

.main__call-form-top > *:not(button) {
	max-width: 17.5rem;
	width: 100%;
	height: 3.9375rem;
	border-radius: 0.8125rem;
	padding: 0 0.9375rem;
	color: #909090;
	font-size: 1.125rem;
}

.main__call-form-top > *:not(button)::placeholder {
	color: #909090;
	font-size: 1.125rem;
	text-transform: capitalize;
	font-weight: 500;
}

.main__call-form-button {
	height: 3.9375rem;
}

.main__call-form-text {
}
.main__call-form-paragraph {
	color: #cdcdcd;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 150%;
	text-align: center;
}

@media (max-width: 1112px) {
	.main__call-form-top {
		flex-direction: column;
		align-items: center;
	}

	.main__call-form-top > input,
	.main__call-form-top button {
		max-width: 35.5rem;
		width: 100%;
		height: 2.8125rem;
		font-size: 0.875rem;
	}

	.main__call-form-top > input::placeholder,
	.main__call-form-top button {
		font-size: 0.875rem;
	}
}

/* Main About */

.main__about {
}

.main__about-container {
	display: flex;
	width: 100%;
}

.main__about-info {
	flex: 0 1 auto;
	max-width: 29.6875rem;
	width: 100%;
}

.main__about-info > *:not(:last-child) {
	margin-bottom: 1.875rem;
}

.main__info-title {
	font-size: 3rem;
	font-weight: 600;
	line-height: 110%;
}

.main__about-text {
}

.main__about-paragraph:not(:last-child) {
	margin-bottom: 1.25rem;
}

.main__about-paragraph {
	font-size: 1.125rem;
	line-height: 150%;
	color: #4f4f4f;
}

.main__about-paragraph b {
	font-weight: 700;
	color: #333333;
}

.main__about-link {
}

.main__about-swiper-box {
	flex: 0 1 auto;
	max-width: 41.875rem;
	width: 100%;
	margin: 0 auto;
}

.main__about-swiper {
}

.main__about-swiper-wrapper {
	min-height: 14.75rem;
}

.main__about-title {
	margin-left: 30%;
	margin-bottom: 2.5rem;
}

.main__about-slide {
}

.main__about-slide-link {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.main__about-slide-link img {
	position: absolute;
	top: 0;
	left: 50%;
	object-fit: cover;
	transform: translateX(-50%);

	width: 12.5rem;
	height: 12.5rem;
	border-radius: 50%;
}

.main__about-slide-title {
	margin-top: 13.75rem;
	color: #606060;
	font-size: 1.5rem;
	line-height: 110%;
	text-transform: capitalize;
}

@media (max-width: 1190px) {
	.main__about-container {
		flex-direction: column;
		gap: 3.125rem;
	}

	.main__about-info,
	.main__about-swiper-box {
		max-width: 90%;
		margin: 0 auto;
	}

	.main__about-title {
		margin-left: 0;
	}

	.main__about-slide-link img {
	}
}

@media (max-width: 992px) {
	.main__about-link {
		width: 100%;
	}

	.main__about-info > *:not(:last-child) {
		margin-bottom: 1.25rem;
	}

	.main__info-title {
		font-size: 2rem;
		margin-bottom: 1.5625rem;
	}
}

/* Main FAQ */

.main__faq-list {
	max-width: 50rem;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 0.9375rem;
}
.main__faq-item {
	width: 100%;
	min-height: var(--faq-min-height);
	background-color: #43a047;
	padding: 0.625rem 1.25rem;
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.625rem;
}

.main__faq-item-box {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.625rem;
}

.main__faq-item._active {
	flex-direction: column;
	align-items: flex-start;
	gap: 0.9375rem;
}

.main__faq-title {
	color: #f5f5f5;
	font-size: 1.375rem;
	font-weight: 600;
	line-height: 110%;
}
.main__faq-dropdown {
	position: absolute;
	top: calc(100% + 0.625rem);
	left: 0;
	visibility: hidden;
	opacity: 0;
}

.main__faq-item._active .main__faq-dropdown {
	position: relative;
	visibility: visible;
	opacity: 1;
}

.main__faq-arrow {
	transition: all 0.4s;
}

.main__faq-item._active .main__faq-arrow {
	transform: rotate(180deg);
}

.main__faq-item,
.main__faq-dropdown {
	border-radius: 0.5625rem;
}

.main__faq-paragraph {
	color: #f5f5f5;
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 150%;
}

.main__faq-arrow-box {
	width: 3.125rem;
	height: 3.125rem;
	border-radius: 50%;
	background-color: #3d8940;
	display: block;
}

.main__faq-arrow-box div {
	width: 3.125rem;
	height: 3.125rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

@media (max-width: 768px) {
	.main__faq-title {
		width: 270px;
		font-size: 1.125rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.main__faq-arrow-box {
		width: 3.125rem;
		height: 3.125rem;
	}

	.main__faq-arrow {
		width: 0.9375rem;
	}

	.main__faq-paragraph {
		font-size: 0.875rem;
	}
}

/* Main results */
.main__results-section {
	background-color: #f6f6f6;
}

.main__result-list {
	grid-template-columns: repeat(4, 1fr);
}

.main__results-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__result-circle {
	width: 5rem;
	height: 5rem;

	border-radius: 50%;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.9375rem;
}

.main__results-image {
}
.main__results-title {
	color: #333333;
	font-size: 2.375rem;
	font-weight: 800;
	line-height: 150%;
}
.main__result-type-title {
	color: #939393;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 150%;
}

@media (max-width: 768px) {
	.main__result-list {
		grid-template-columns: repeat(2, 1fr);
		gap: 1.875rem;
	}

	.main__result-circle {
		margin-bottom: 0;
	}

	.main__results-title {
		line-height: 120%;
	}
}

@media (max-width: 26.5625rem) {
	.main__results-item:not(:last-child) {
		margin-bottom: 3.25rem;
	}
}

/* Main Service Price */

.main__service-price-image {
	filter: brightness(0.5);
}

.main__services-price {
}

.main__services-price-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__services-price-item {
	max-width: 45.625rem;
	width: 100%;
	border-bottom: 0.125rem solid #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5625rem 0 1.5625rem 0.625rem;
}

.main__services-price-paragraph,
.main__services-price-title {
	color: #cdcdcd;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 150%;
}

.main__services-price-text {
}

@media (max-width: 404px) {
	.main__section-price-header {
		margin-bottom: 1.25rem;
	}

	.main__services-price-paragraph,
	.main__services-price-title {
		font-size: 0.75rem;
	}
}

/* Main Projects */

.main__projects {
}

.main__projects-swiper {
}

.main__projects-swiper-wrapper {
}

.main__projects-swiper-wrapper .main__projects-slide {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.9375rem;
	padding: 0.4375rem;
	border: 0.125rem solid #43a047;
	border-radius: 0.75rem;
	min-height: 28.4375rem;
}

.main__projects-image-wrapper {
	position: relative;
	width: 100%;
	height: 15.9375rem;
	overflow: hidden;
}

.main__projects-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.4s;
}

@media (hover: hover) {
	.main__projects-image:not(.main__slide-image):hover {
		transform: scale(1.01);
	}
}

.main__projects-title {
	color: #3f3f3f;
	font-size: 1.375rem;
	line-height: 150%;
	text-transform: capitalize;
}

.main__projects-title::before {
	content: "<<";
}

.main__projects-title::after {
	content: ">>";
}

.main__projects-title::before,
.main__projects-title::after {
	display: inline-block;
	font-size: 1.375rem;
	color: #3f3f3f;
}

.main__projects-text {
}

.main__projects-paragraph {
	color: #9e9e9e;
	font-size: 0.875rem;
	line-height: 150%;
	font-weight: 500;
}

.main__projects-price {
	color: #43a047;
	font-size: 1.125rem;
	font-weight: 600;
}

.main__projects-paragraph,
.main__projects-price {
}

.main__projects-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.125rem;
	text-transform: uppercase;
	width: 100%;
}

@media (max-width: 768px) {
	.main__projects {
		padding: 0.9375rem 0 2.8125rem 0;
	}
}

/* Main News */

.main__news {
}

.main__news-swiper {
}

.main__news-swiper-wrapper {
}

.main__news-slide {
	position: relative;
}

.main__news-image-wrapper {
	position: relative;
	width: 100%;
	height: 23.0625rem;
	margin-bottom: 0.75rem;
}

.main__news-prev,
.main__news-next {
	--swiper-navigation-top-offset: 42%;
}

.main__news-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1rem;
	filter: brightness(0.7);
}

.main__news-title {
	color: #333333;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 110%;
}

.main__news-button-box {
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 3.75rem;
	height: 3.75rem;
	border-radius: 50%;
	background-color: #efefed;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main__news-button {
	width: 0;
	height: 0;
	border-top: 1.25rem solid transparent;
	border-bottom: 1.25rem solid transparent;

	margin-left: 0.625rem;
	border-left: 1.875rem solid green;
}

@media (max-width: 768px) {
	.main__news {
		padding: 0.9375rem 0 2.8125rem 0;
	}

	.main__news-image-wrapper {
		height: 16.8125rem;
	}

	.main__news-prev,
	.main__news-next {
		--swiper-navigation-top-offset: 37%;
	}

	.main__news-title {
		font-size: 1.125rem;
	}
}

/* Main Map */

.main__map {
	/* width: 100%;
	position: relative; */
}

.main__map div iframe {
	/* z-index: -1; */
}

.main__map-contacts {
	max-width: 100%;
	width: 100%;
	background-color: #181818;
	padding: 1.5625rem;
	border-bottom: 0.0625rem solid #f5f5f5;
	display: flex;
	justify-content: flex-start;
	gap: 1.5625rem;
	flex-wrap: wrap;
}

.main__map-contact-header {
	margin-bottom: 0.9375rem;
}

.main__map-title {
	color: #f5f5f5;
	font-size: 1.5rem;
	font-weight: 800;
	line-height: 150%;
	text-transform: capitalize;
	letter-spacing: 0.0125rem;
}

.main__contacts-conacts {
}

.main__conacts-link:not(:last-child) {
}

.main__conacts-link {
	display: block;
	color: #f5f5f5;
	font-size: 1rem;
	font-weight: 500;
	line-height: 150%;
}

.main__contacts-text > * {
	margin-top: 0.9375rem;
	color: #f5f5f5;
}

.main__map-frame {
	width: 100%;
	height: 30.9375rem;
}

@media (max-width: 768px) {
	.main__map-frame {
		height: 18.4375rem;
	}
}

/* Main Request */

.main__request-form {
	max-width: 41.5rem;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.25rem;
}

.main__request-box {
	width: 100%;
}

.main__request-box input:not(input[type="radio"]),
.main__request-box input:not(input[type="file"]),
.main__request-box textarea {
	width: 100%;
	height: 3.9375rem;
	padding: 0.9375rem;
	border: 0.0625rem solid #3d8940;
	border-radius: 0.75rem;
	color: #d6d6d6;
	font-size: 1.125rem;
	font-weight: 500;
}

.main__request-box textarea {
	resize: vertical;
	min-height: 11.6875rem;
}

.main__request-box input::placeholder,
.main__request-box textarea::placeholder {
	text-transform: capitalize;
	color: #d6d6d6;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 150%;
}

.main__request-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	gap: 0.625rem;
}

.main__request-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.3125rem;
}

.main__request-item-title {
	max-width: 15.1875rem;
	width: 100%;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	color: #616161;
	font-size: 1.125rem;
	font-weight: 500;
}

.main__request-item-box {
	flex: 0 auto;
}

.main__request-item-radio {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.main__request-radio-label {
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	border: 0.1875rem solid #606060;
	border-radius: 50%;
	background-color: #f5f5f5;
	transition: background-color 0.4s ease;
	cursor: pointer;
}

.main__request-item-radio:checked + .main__request-radio-label {
	background-color: #f5f5f5;
	border: 0.1875rem solid #3d8940;
}

.main__request-box--uploading-image label {
	display: block;
	max-width: 100%;
	width: 100%;
	min-height: 3.9375rem;
	border: 0.0625rem solid #3d8940;
	border-radius: 0.75rem;
	padding: 0.9375rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3125rem;
	color: #d6d6d6;
	font-size: 1.125rem;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}

.main__request-box--uploading-image label span {
	max-width: 7.5rem;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.main__request-box--uploading-image input {
	display: none;
}

.uploaded-image-box {
	max-width: 100%;
	width: 100%;

	height: 18.75rem;
	position: relative;

	display: none;
}

.uploaded-image-box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.4s;
	border-radius: 0.75rem;
}

.main__request-button {
	max-width: 100%;
	width: 100%;
	text-transform: uppercase;
}

.main__request-form-paragraph {
	color: #acacac;
	font-size: 1.125rem;
	font-weight: 600;
}

.main__request-form-paragraph b a {
	color: #818181;
}

@media (max-width: 687px) {
	.main__request-box input:not(input[type="radio"]),
	.main__request-box input:not(input[type="file"]),
	.main__request-box textarea {
		height: 2.6875rem;
	}

	.main__request-box input::placeholder,
	.main__request-box textarea::placeholder {
		font-size: 0.875rem;
	}

	.main__request-box--uploading-image label {
		font-size: 0.875rem;
		min-height: 2.6875rem;
		padding: 0.625rem;
	}

	.main__request-list {
		grid-template-columns: repeat(1, 100%);
	}

	.main__request-item-title {
		max-width: 100%;
	}

	.uploaded-image-box {
		height: 15.625rem;
	}

	.uploaded-image-box img {
	}
}
