@import url("https://fonts.googleapis.com/css?family=Glory:300,regular,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible:regular,700&display=swap");

:root {
	--big-container: 110.9375rem;
	--min-container: 80.125rem;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
}

*::selection {
}

ul,
ol {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	color: #333333;
	text-decoration: none;
}

html {
	font-family: "Avenir", sans-serif;
	font-weight: 400;
	background-color: #fafafa;
	font-size: 16px;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	max-width: 100%;
	min-height: 100%;
	line-height: 1;
}

body.active {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

[class$="__container"] {
	max-width: var(--min-container);
	width: 100%;
	margin: 0 auto;
	padding: 0 0.625rem;
}

[class$="__big_container"] {
	max-width: var(--big-container);
	width: 100%;
	margin: 0 auto;
	padding: 0 0.625rem;
}

/* ::-webkit-scrollbar {
	display: none;
} */

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	display: block;
}

.main__block-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
